style
{
    display: none;
}
script
{
    display: none;
}
*
{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    display: block;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
body
{
    margin: 0px;
    background-color: rgb(235, 235, 235);
}
h1
{
    margin: 0px;
    padding: 10px;
    width: 50%;
}
p
{
    max-width: 80%;
}
.break
{
    flex-basis: 100%;
    height: 0;
}
.Header
{
    height: 100px;
    width: 100%;
    position: fixed;
    display: block;
    background-color: #50C878;
    z-index: 2;
    top: 0;
}
#logo
{
    font-weight: 0;
    border-radius: 0;
    margin: 0;
    top: 20px;
    padding: 0px;
    position: relative;
    display: inline-block;
    width: 140px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 4;
}
.NavBlock
{
	margin: 0 auto;
	width: 60%;
	min-width: 1000px;
	height: 100%;
}
.NavUl
{
	width: 100%;
	height: 100%;
	margin: 0;
}
.NavUl li
{
	z-index: 3;
	border-radius: 20px;
	text-decoration: none;
	position: relative;
	display: inline-flex;
    flex-flow: row nowrap;
	margin: 20px;
	padding: 10px;
    top: -40px;
}
.NavUl li a
{
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #fff;
}
.NavUl .BuyLink
{
    background-color: #fff;
}
.NavUl .BuyLink a
{
    color: #50C878;
}
.MainColumn
{
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
    position: relative;
    display: block;
}
.TopPhotoDiv
{
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    margin: 100px 0 0 0;
    background-image: url('images/MainPhoto2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.TopPhotoDiv h1
{
    display: block;
    position: relative;
    font-size: 60px;
    color: #fff;
    width: 50%;
    left: 20%;
}
.Info
{
    font-family: 'Ubuntu', sans-serif;
    display: inline-flex;
}
.Info p
{
    font-size: 25px;
    font-weight: 400;
    margin: 20px;
}
.Info h1
{
    margin: 20px;
    padding: 0;
    font-size: 35px;
    font-weight: bold;
}
#InfoPhoto
{
    width: 100%;
    height: 300px;
    background-image: url(images/prorab.jpg);
    margin: 20px;
}
.Advantages
{
    width: 100%;
    margin: 20px;
}
.AdvantageBlock
{
    display: inline-flex;
    flex-flow: column;
    width: 25%;
    padding: 0;
}
.AdvantageBlock img
{
    padding: 0;
    margin: 10px;
}
.AdvantageBlock h1
{
    padding: 0;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
}
.AdvantageBlock p
{
    margin: 10px;
    font-size: 20px;
    font-weight: normal;
}
.Examples
{
    width: 96%;
    margin: 20px;
    justify-content: space-between;
    display: inline-flex;
    flex-wrap: wrap;
}
.HouseBlock
{
    margin: 10px;
    width: 30%;
    min-width: 350px;
    padding: 10px;
    transition: .5s;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.125);
}
.HouseBlock:hover
{
    box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0.225);
}
.HouseBlock img
{
    padding: 0;
    margin: 10px;
}
.HouseBlock h1
{
    left: 0;
    padding: 0;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
}
.HouseBlock p
{
    margin: 10px;
    font-size: 20px;
    font-weight: normal;
}
.ComplexList h1
{
    left: 20%;
}
.ComplexInfo
{
    color: white;
    height: 400px;
    background-position: center 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}
.ComplexAddress
{
    display: inline-block;
}
.ComplexAddress::before
{
    content: " ";
    display: inline-block;
    background-size: cover;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64'%3e%3cpath d='M32.2 0C16 0 3.2 12.38 3.2 28a26.41 26.41 0 0 0 8.7 20c.41.39 17 14.77 17.4 15.17 1.66 1.2 4.15 1.2 5.39 0 .41-.4 17.4-14.78 17.4-15.17a26.41 26.41 0 0 0 8.7-20C61.2 12.38 48.36 0 32.2 0zm0 35.94a8.15 8.15 0 0 1-8.28-8 8.29 8.29 0 0 1 16.57 0 8.16 8.16 0 0 1-8.29 8z' fill='%23fff'/%3e%3c/svg%3e")
}
.ComplexHousesList
{
    width: 60%;
    left: 20%;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 50px;
}
.ComplexHousesList .HouseBlock
{
    background-color: white;
    box-shadow: none;
    border-radius: 0;
}
.ComplexHousesList .HouseBlock h1
{
    left: 0;
}
.ComplexHousesList .HouseBlock:hover
{
    box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0.225);
}